*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto Condensed", Roboto, "Helvetica Neue", Helvetica, Segoe, Arial, sans-serif;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
body,
html {
	font-size: 19px;
	font-family: Arial, sans-serif;
	height: 100%;
}
body {
	overflow: hidden;
}
@media screen and (min-width: 900px) {
	body, html {
		font-size: 22px;
	}
}
.map {
	width: 100%;
	height: 100%;
}
.map-application {
	height: 100%;
}
/* GENERAL */

body {
	background-color: #fff;
}
.view {
	padding: 0.7em 1em;
}
.above-map {
	position: absolute;
	z-index: 10000;
}
.ui {
	background-color: rgba(255, 255, 255, 0.90);
	width: 100%;
	height: 100%;
}
/* HEADER */

.header-bar {
	width: 100%;
	padding: 0.5em;
	color: #fff;
	pointer-events: none;
}
.header-bar * {
	pointer-events: auto;
}
.info-bubble {
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.btn {
	visibility: visible;
	font-size: 2em;
	cursor: pointer;
}
.btn:active, .btn:focus {
	opacity: 0.8;
}
.menu-btn {
	float: right;
}
.cancel-btn {
	float: left;
}
.btn-bar {
}
.top-msg {
	clear: both;
	margin: 0.2em 0 0.2em 0.3em;
	font-size: 1em;
	font-style: italic;
}
.hidden {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
.red {
	color: #ff3101;
}
.blue {
	color: #318eff;
}
.zero {
	display: block;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition: all 0.3s;
}
.left {
	-webkit-transform: translateX(-300%);
	transform: translateX(-300%);
	transition: all 0.3s;
}
.right {
	-webkit-transform: translateX(300%);
	transform: translateX(300%);
	transition: all 0.3s;
}


/* ABOUT */

.darken {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;
}
.about {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em 1.3em 1.3em;
	margin: 3.5em 6%;
	background-color: rgba(0, 0, 0, 0.89);
	color: #fff;
	z-index: 100000;
	border-radius: 50px;
}
@media screen and (min-width: 700px) {
	.about {
		margin: 3.5em 8em;
	}
}
@media screen and (min-width: 900px) {
	.about {
		margin: 3.5em 3.5em 0 60%;
	}
}
.about * {
	margin-bottom: 0.8em;
}
.about h2 {
	margin: 0 0 0.4em;
}
.about h3 {
	font-size: 1em;
	margin-bottom: 1em;
}
.about p {
	font-size: 0.8em;
	line-height: 1.5;
}
.about a {
	text-decoration: none;
	color: #29b1ff;
}


/* DETAILS */

.popup {
	position: relative;
	top: 3em;
	width: 100%;
	padding: 0.8em 1.2em;
	background-color: #fff;
}
@media screen and (min-width: 500px) {
	.popup {
		width: 80%;
		left: 10%;
	}
}
@media screen and (min-width: 600px) {
	.popup {
		width: 60%;
		left: 20%;
		padding: 2em;
	}
}
@media screen and (min-width: 800px) {
	.popup {
		width: 50%;
		left: 25%;
		padding: 2.6em;
	}
}
.triangle {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	background-color: #fff;
}
.details {}
.arriving-bus {
	margin-bottom: 0.6em;
}
.station-title {
	margin-bottom: 0.5em;
	font-size: 1.3em;
}
.bus-time {
	display: inline-block;
	width: 9em;
	font-size: 1.1em;
	font-weight: 600;
}
.bus-line {
	display: inline-block;
	width: 2em;
	font-size: 1.1em;
	font-weight: 600;
	margin-right: 0.2em;
}

.line-name {}


/* HACKS */

.leaflet-control, .leaflet-control-attribution {
	display: none;
}
#msg-arr {
	margin-top: -2.95em;
}
* {
	box-shadow: none !important;
	border-radius: 0 !important;
}
.leaflet-popup, .leaflet-popup-pane {
	display: none;
	color: green !important;
	position: relative;
	z-index: 10000000000 !important;
}
.leaflet-clickable:active,
.leaflet-clickable:focus {
	opacity: 0.6;
}
