*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
body,
html {
	font-size: 19px;
	font-family: "Roboto Condensed", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
}
body {
	overflow: hidden;
}
@media screen and (min-width: 900px) {
	body, html {
		font-size: 22px;
	}
}
.map {
	width: 100%;
	height: 100%;
}
.map-application {
	height: 100%;
}

/* LAYOUT */

body {
	background-color: #fff;
}
.view {
	padding: 0.7em 0.5em;
}
.above-map {
	position: absolute;
	z-index: 10000;
}
.ui {
	background-color: rgba(255, 255, 255, 0.90);
	width: 100%;
	height: 100%;
}
/* HEADER */

.header-bar {
	width: 100%;
	padding: 0.5em;
	color: #fff;
	pointer-events: none;
}
.header-bar * {
	pointer-events: auto;
}
.info-bubble {
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.btn {
	cursor: pointer;
}
.btn:active, .btn:focus {
	opacity: 0.8;
}
.menu-btn {
	float: right;
}
.cancel-btn {
	float: left;
}
.btn-bar {
}
.top-msg {
	clear: both;
	margin: 0.2em 0 0.2em 0.3em;
	font-size: 1em;
	font-style: italic;
}
.hidden {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
.red {
	color: #ff3101;
}
.blue {
	color: #318eff;
}
.zero {
	display: block;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition: all 0.3s;
}
.left {
	-webkit-transform: translateX(-300%);
	transform: translateX(-300%);
	transition: all 0.3s;
}
.right {
	-webkit-transform: translateX(300%);
	transform: translateX(300%);
	transition: all 0.3s;
}


/* ABOUT */

.darken {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;
}
.about {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em 1.3em 1.3em;
	margin: 3.5em 6%;
	background-color: rgba(0, 0, 0, 0.89);
	color: #fff;
	z-index: 100000;
	border-radius: 50px;
}
@media screen and (min-width: 700px) {
	.about {
		margin: 3.5em 8em;
	}
}
@media screen and (min-width: 900px) {
	.about {
		margin: 3.5em 3.5em 0 60%;
	}
}
.about * {
	margin-bottom: 0.8em;
}
.about h2 {
	margin: 0 0 0.4em;
}
.about h3 {
	font-size: 1em;
	margin-bottom: 1em;
}
.about p {
	font-size: 0.8em;
	line-height: 1.5;
}
.about a {
	text-decoration: none;
	color: #29b1ff;
}

/* FAVORITES */
footer {
	display: none;
}
.favs {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: horizontal;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	font-size: 0.9em;
}
.fav-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-in-between;
	width: 100%;
	margin: 0.5em auto 0;
	padding: 1em 0.5em 1em 0.8em;
	background-color: #fff;
}
.fav-text {
	-webkit-flex-grow: 2;
	flex-grow: 2;
}
.fav-delete {
	-webkit-flex-basis: 1.5em;
	flex-basis: 1.5em;
	padding: 0.4em;
}
.fav-depart {
	max-width: 50%;
}
.fav-destin {

}
.fav-arrow {
	height: 0.6em;
	margin: 0 0.3em;
	vertical-align: 0em;
}

/* DETAILS */

.popup {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	/*top: 3em;*/
	width: 100%;
	padding: 0.8em 1em;
	background-color: #fff;
}
@media screen and (min-width: 400px) {
	.foreground-widget {
		width: 80%;
	}
	.popup {
		left: 10%;
	}
}
@media screen and (min-width: 800px) {
	.foreground-widget {
		width: 60%;
	}
	.popup {
		left: 20%;
		padding: 1.8em 2em;
	}
}
@media screen and (min-width: 1000px) {
	.foreground-widget {
		width: 50%;
	}
	.popup {
		left: 25%;
		padding: 2.2em 2.6em;
	}
}
@media screen and (min-width: 1300px) {
	.foreground-widget {
		width: 40%;
	}
	.popup {
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
}
@media screen and (min-width: 1800px) {
	.foreground-widget {
		width: 35%;
	}
}
@keyframes spin {
	from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
.spinner {
	width: 100%;
	animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}
.spinner-container {
	width: 6em;
	margin: 3em auto;
}
.arrow {
	height: 0.6em;
	margin: 0 0.6em;
	vertical-align: 0em;
}
.triangle {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	background-color: #fff;
}
.details {}
.arriving-bus {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-in-between;
	justify-content: space-in-between;
	margin-bottom: 0.6em;
}
.popup-title {
	margin-bottom: 1em;
	font-size: 1.1em;
}
@media screen and (min-width: 600px) {
	.popup-title {
		margin-bottom: 1.5em;
		font-size: 1.3em;
	}
}
.bus-time {
	-webkit-flex-basis: 3em;
	font-weight: 400;
}
.bus-line-container {
	-webkit-flex-grow: 2;
	flex-grow: 2;
	padding: 0 0.4em 0 1em;
	margin: 0 0.2em;
	text-align: center;
	color: #666;
	font-size: 0.8em;

	/* dotted underline */
	border-bottom: 2px dotted #aaa;
	-webkit-transform: translateY(2em);
	transform: translateY(-0.4em);
}
.bus-line {
	font-weight: 600;
}
.bus-line-endstation {
	-webkit-flex-basis: 3em;
	flex-basis: 3em;
	margin-left: 0.4em;
	font-weight: 400;
}
.destin-time {
	display: inline-block;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* HACKS */

.leaflet-control, .leaflet-control-attribution {
	display: none;
}
* {
	box-shadow: none !important;
	border-radius: 0 !important;
}
.leaflet-popup, .leaflet-popup-pane {
	display: none;
	color: green !important;
	position: relative;
	z-index: 10000000000 !important;
}
.leaflet-clickable:active,
.leaflet-clickable:focus {
	opacity: 0.6;
}
